<div class='chat-div'>
  <form id='chatForm' class='chat-form'>
    <input
      type='email'
      name='mail'
      id='mail'
      class='form-input'
      placeholder='example@example.com'
    />
    <input
      type='text'
      name='name'
      id='name'
      class='form-input'
      placeholder='Ingrese su nombre'
    />
    <input
      type='text'
      name='surname'
      id='surname'
      class='form-input'
      placeholder='Ingrese su apellido'
    />
    <input
      type='number'
      name='age'
      id='age'
      class='form-input'
      placeholder='Ingrese su edad'
    />
    <input
      type='text'
      name='alias'
      id='alias'
      class='form-input'
      placeholder='Ingrese su alias'
    />
    <input
      type='text'
      name='avatar'
      id='avatar'
      class='form-input'
      value='https://www.thesprucepets.com/thmb/oj1r_NXKRdZ8yLZIWBoj2j_U7yw=/420x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-145577979-d97e955b5d8043fd96747447451f78b7.jpg'
    />
    <input
      type='text'
      name='msg'
      id='msg'
      class='form-input'
      placeholder='Ingrese un mensaje...'
    />
    <input type='button' class='btn' value='>' onclick='sendMsg(chatForm)' />
  </form>
</div>