<div class='chat-div'>
  <form id='chatForm' class='chat-form'>
    <input
      type='email'
      name='user'
      id='user'
      class='chat-input'
      placeholder='example@example.com'
    />
    <input
      type='text'
      name='msg'
      id='msg'
      class='chat-input'
      placeholder='Ingrese un mensaje...'
    />
    <input type='button' class='btn' value='>' onclick='sendMsg(chatForm)' />
  </form>
</div>