<div class='chat-div'>
  <form id='chatForm'>
    <input type='email' name='mail' id='mail' placeholder='example@example.com' />
    <input type='text' name='msg' id='msg' placeholder='Ingrese un mensaje...' />
    <input type='button' value='Enviar' onclick='sendMsg(chatForm)' />
  </form>
</div>