<div class='login-error'>
  <form action='/{{errorAction}}' method='GET' class='form-error'>
    <h1>{{errorMsg}}</h1>
    <img
      src='https://media2.giphy.com/media/9bKN5AArXecaHyORTV/giphy.gif?cid=ecf05e47m2nnbvf1t6xy6wpromfjwn7yp8cy9wln1wmpfqjo&rid=giphy.gif&ct=g'
      alt='error-img'
    />
    <button type='submit' class='btn'>Volver</button>
  </form>
</div>