<div class='login-div'>
  <h1 class='login-title'>Login de usuario</h1>
  <form action='/{{submitAction}}' method='POST' class='login-form'>
    <input type='email' name='mail' id='mail' class='form-input' />
    <button type='submit' class='btn' value='{{submitBtn}}'></button>
  </form>
  <form action='/{{redirectAction}}' method='GET' class='login-form'>
    <button type='submit' class='btn' value='{{redirectBtn}}'></button>
  </form>
</div>