<div class='login-div'>
  <h1 class='login-title'>Login de usuario</h1>
  <form method='POST' class='login-form'>
    <label for='name'>Ingrese su nombre</label>
    <input type='text' name='name' id='name' class='form-input' />
    <input type='submit' class='btn' value='Ingresar' />
  </form>
</div>