<div class='form-div'>
  <h1>Carga de productos</h1>

  <form id='prodForm'>
    <label for='name'>Titulo: </label>
    <input type='text' name='title' id='title' />
    <label for='price'>Precio: </label>
    <input type='number' name='price' id='price' />
    <label for='thumbnail'>Imagen: </label>
    <input type='text' name='thumbnail' id='thumbnail' />
    <input type='submit' value='Cargar' onclick='sendProd(prodForm)' />
  </form>
</div>