{{#each productsData}}
  <div class='prod-container'>
    <p>{{this.title}}</p>
    <p>{{this.price}}</p>
    <img src='{{this.thumbnail}}' class='product-img' />
    <form action='/api/cart/product/{{this.id}}' method='POST'>
      <button type='submit'>Agregar</button>
    </form>
  </div>
{{/each}}