<div class='form-div'>
  <h1>Carga de productos</h1>

  <form id='prodForm' class='prod-form'>
    <label for='title'>Titulo: </label>
    <input type='text' name='title' id='title' />
    <label for='price'>Precio: </label>
    <input type='number' name='price' id='price' />
    <label for='thumbnail'>Imagen: </label>
    <input type='text' name='thumbnail' id='thumbnail' />
    <label for='description'>Descripción: </label>
    <input type='text' name='description' id='description' />
    <label for='code'>Código: </label>
    <input type='text' name='code' id='code' />
    <label for='stock'>Stock: </label>
    <input type='number' name='stock' id='stock' />
    <input
      type='submit'
      value='Cargar'
      onclick='sendProd(prodForm)'
      class='form-btn btn'
    />
  </form>
</div>