{{>navbar}}

{{>loginMsg name=name}}

<div class='products-container'>
  <h1 class='products-title'>Listado de productos</h1>
  <div id='products-list' class='products-list'>
    {{>productsList products=products}}
  </div>
</div>

<div class='chat-container'>
  <h1 class='chat-title'>Centro de mensajes</h1>
  <h3 class='chat-compression' id='chat-compression'></h3>
  {{>chatForm}}
  <table id='msg-list' class='msg-list'></table>
</div>

{{>footer}}