{{>navbar data=.}}

{{>loginMsg name=name}}

<div class='products-container'>
  <h1 class='products-title'>Listado de productos</h1>
  <div id='products-list' class='products-list'>
    {{>productsList productsData=productsData}}
  </div>
</div>

{{>footer}}