{{>navbar}}

{{>categoryFilter}}

{{#if isAdmin}}
  <form action="/productos/create" method="get" class="create-prod-btn">
  <button type="submit" class="btn">Crear producto</button>
  </form>
{{/if}}

<div class="products-container">
  <h1 class="products-title">Listado de productos</h1>
  <div id="products-list" class="products-list">
    {{>productsList data=.}}
  </div>
</div>

{{>footer}}