{{>navbar}}
<br>

{{>productsForm}}
<br>
<br>

<h1>Listado de productos</h1>

<div id='products-list'></div>

<br>

<h1>Centro de mensajes</h1>

<br>

<table id='msg-list'></table>

<br>
  
{{>chatForm}}

<br>
{{>footer}}