@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
