/* ESTILO DEL NAVBAR */
.navbar {
  background-color: darkorange;
  text-align: center;
  height: 8vh;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  color: white;
  margin: 2rem;
}
.navbar input {
  background: none;
  border: 0;
  color: white;
  font-size: 1.5rem;
}

/* ESTILOS DE CONTENEDOR PRODUCTOS */
.products-title {
  text-align: center;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 1rem 3rem;
}
.prodBtn-container {
  display: flex;
  gap: 1rem;
  margin-top: 0.3rem;
}
/* ESTILO DE PRODUCTO */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.2rem 0.5rem 1rem 0.2rem grey;
  padding: 1rem;
  margin-top: 1rem;
}
.card img {
  width: 13rem;
  height: 11rem;
  border: 1px solid lightblue;
  margin: 1rem 0;
}
/* VISTA DETALLES DE PRODUCTO */
.productView-container {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin: 5rem 0;
}
.productView-container img {
  max-width: 30rem;
  max-height: 30rem;
}
.productInfo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.counter-btn {
  width: 100%;
  color: black;
  background-color: white;
  border: 0.15rem solid black;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.counter-btn:hover {
  color: white;
  background-color: darkgrey;
  border-color: white;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.quantity-input {
  border: 0;
  width: 2rem;
  font-weight: bold;
}
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}
.quantity-input {
  display: flex;
  gap: 0.5rem;
  text-transform: capitalize;
}
.productInfo-container form {
  display: flex;
  justify-content: center;
}

/* ESTILO DE FORMULARIO DE CARGA Y EDICION */
.prodForm-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  gap: 3rem;
}
.updateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.updateForm input {
  border: 0;
  background-color: transparent;
  border-bottom: 0.2rem solid gray;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.updateForm input:hover,
.updateForm input:focus {
  outline: 0;
  border-bottom-color: #6658d3;
}
.updateForm .btn {
  padding: 0.5rem;
}

/* ESTILO DEL CART */
.cart-list {
  width: 35vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.cart-product {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  border: 0.25rem solid orange;
  border-radius: 0 1rem/1rem;
  box-shadow: 0.3rem 0.3rem darkviolet;
  padding: 0.2rem;
}

/* MI BOTON */
.btn {
  color: white;
  background-color: darkorange;
  border: solid darkorange;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.btn:hover {
  background-color: grey;
  border: solid grey;
}

/* ESTILO DEL LOGIN */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.login-div {
  width: 50vw;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  padding: 4.5rem;
  margin: 5rem auto;
  align-items: center;
  justify-content: space-evenly;
}
.input-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.divisor-div {
  height: 90%;
  border-right: solid darkslategrey 0.15rem;
}
.redirect-div button {
  margin: auto;
}
.redirect-div p {
  font-size: 1.5rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
}
.login-input {
  border: solid darkorange;
  border-width: 0 0 0.2rem 0;
  margin: 0.5rem;
}
.log-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightgreen;
  color: darkgreen;
}
.logout-div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightblue;
  color: blue;
}
.login-error {
  width: 60vw;
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  margin: 2rem auto;
  padding: 5rem 2rem;
  font-size: 1.3rem;
}
.login-error button {
  font-size: 1.2rem;
}
.form-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* ESTILO DE HISTORIAL */
.history-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.history-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history {
  display: flex;
  gap: 0.5rem;
}
.history .admin-email {
  color: green;
}
.history .time {
  color: red;
}
.history .msg {
  color: black;
}
.history .admin {
  justify-content: flex-end;
}

/* ESTILO DE PROFILE */
.profile-table,
tr,
td {
  border: solid 1px black;
  text-align: initial;
  width: 50vw;
}
.avatar-img {
  width: 7rem;
  height: 7rem;
}

/* ESTILO DE LA TABLA INFO */
.div-info {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  text-align: center;
}
.info-table,
tr,
td {
  border: solid 1px black;
}
td {
  padding: 0.1rem;
}

/* ESTILO DEL FOOTER */
.footer {
  text-align: center;
  margin: 1rem 0 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* ESTILOS DEL CHAT */
/* .chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}
.chat-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 1rem 0;
}
.msg-list {
  background-color: lightgray;
  width: 60vw;
  text-align: initial;
}
.user {
  font-weight: bold;
  color: blue;
}
.date {
  color: #964b00;
}
.msg {
  color: green;
  font-style: italic;
}
.avatar {
  max-width: 5rem;
  border-radius: 2rem;
}
*/
.form-input {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.25rem;
}
